@page
@model Midi_Keyboard_Website.Pages.AboutModel
@{
}
<div class="text-center">
    <h1 class="display-4">
        About Us
    </h1>

    <b>Mihai Petrescu- Astrophysics Major</b>
    <p>
        Developed the game using C# and the Monogame framework
    </p>
    <br />
    <b>Kinan AlAttar - Engineering Physics Major</b>
    <br />
    <p>
        Developed the website using C# and the ASP.NET Core framework
        and published the website using Azure
    </p>
</div>