@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">synthy. - basically, 88 key mania</h1>
    <hr />
    <h2>
        Pictures
    </h2>
    <div class="justify-content-end">
        <img src="~/lib/midi-game-start.PNG" width="300" height="200" />
        <img src="~/lib/midi-board-play-2.PNG" with="300" height="200"/>
        <img src="~/lib/midi-board-play.PNG" width="300" height="200"/>
    </div>
  
    <hr />
    <h3>Starting</h3>
    <p>
        <b>MIDI:  Musical Instrument Digital Interface</b>
        <br />
        <b>Note (before starting the game): </b>Make sure that you have the application folder ('synthy/') in the your home directory and that your MIDI
        board is connected!
        <br />
        Starting the game is easy, all you have to do is install the desired MIDI file (A file with the .MID or .MIDI file extension that explains what notes are played, when they're played, and how long or loud each note should be.)
        into the root of the app, and select the file in the game window., as detailed below.
        <br />
        <div>
            <img src="~/lib/start-the-game.PNG" width="600" height="400" />
        </div>

        <br />
        <br />
        The game has a performance metric based on how accurately you play through the song,
        basically, how well you hit the key at the appropriate time.
        <br />

        <img src="~/lib/pf-metric-acc.PNG" width="600" height="400" />

        <br />
        <br />
        So, as seen circled in the image above, PF is within 50ms of note activation, OK is within 100ms, BD is 150ms, and anything outside of that contributs to MS (missed). The precentage at the top is how well you have performed in the game.
        (Note: turns out making a game doesn't make you good at it.)
        <br />
        <br />
        The brown line circled in the middle is the error bar line, which indicates how well
        the key was hit by showing a vertical line cross the bar line. If the bar is too far to right,
        that means that you've hit the note too late, and if it's to the left that means you've hit
        the note too early.
        <br />
        <img src="~/lib/bar.PNG" width="600" hegiht="400" />
        <br />
        <br />

        <h3>Architecture</h3>
        The game was implemented using C# and the MonoGame framework. DryWetMIDI was used for reading and processing the MIDI file and for
        reading the input from the keyboard. More details on the architecture of the game can be found at
        <i>synthy.</i>'s <a href="https://github.com/telastrus/synthy_cs">GitHub repository</a>.
    </p>

</div>
